{% extends "home/base.html" %}

{% block extrahead %}
    <style>
        form { display: inline-block; }
    </style>
{% endblock %}


{% block content %}
    <h1 style="text-align: center;">Welcome to Sentimento Web!</h1>

    <p>
        On this site you can add recommendation and motivation letters, and the administrator can conduct their sentiment analysis and share with you the result.
        <br><br>
        After filling out the forms, a unique link will be formed for you, and you will be able to follow the news about your document analysis.
        <br><br>
        Click the button below to add documents 🙃
    </p>

    <span style="text-align: center;">
        {# Here place a link to the page where you want the user to add documents #}
        <form style="text-align: center;" action="../analyzer/1/motivation-lists/">
            <input type="submit" class="btn btn-primary mt-4" style="width: 180px;" value="Add Documents" />
        </form>

        {% if user.is_authenticated %}
        <form style="text-align: center;" action="{% url 'analyzer:lists' %}">
            <input type="submit" class="btn btn-success mt-4" style="width: 180px;" value="Analyzer Stats" />
        </form>
        {% endif %}
    </span>
{% endblock %}
