Django>=3.1
psycopg2==2.8.6
whitenoise==5.2.0
dj_database_url~=0.5.0
Keras==2.4.3
django-heroku>=0.3.1
gensim==3.8.3
gunicorn==19.6.0
h5py==2.10.0
html5lib>=1.0.1
numpy==1.19.5
nltk==3.5
tensorflow-cpu>=2.1.0
python-decouple~=3.4
bleach~=3.0.2
pdfminer==20191125